@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(imagenes/IMG\ menu.jpg);
    background-position: center bottom;
    background-repeat:no-repeat ;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;  
}
.menu {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color:#fffdfc;
    font-size: 25px;
    font-weight: 800;
}
.menu .navbar ul li {
    position: relative;
    float:left
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font: weight 600; 
}
.menu .navbar ul li a:hover{
    color:#ce9678

}
    
#menu{
    display: none;

}
.menu-icono{
    width: 25px;

}
.menu-label{
    cursor: pointer;
    display: none;

}
.header-content {
    text-align: center;

}
.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;

}
.header-content p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;

}
.btn-1{
    display:inline-block;
    padding: 11px 35px;
    background-color: #ce967b;
    color: #f9fafc;
    text-transform: uppercase;
}
.btn-1:hover{
    background-color: #7b7b7b;
}
.velas_aromaticas {
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}
.velas_aromaticas-content{
    text-align: absolute;

}
.velas_aromaticas-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform:uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;


}
.velas_aromaticas-group {
    display: flex;
    justify-content: space-between;
   margin-bottom: 50px;

}
.vela-1{
    padding:0 25px;
}
.vela-1 img{
    width: 150px;


}
.vela-img {
    position:absolute;
    top: 0;
    right: 0;
}
.velas_aromaticas h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;

}
.velas_aromaticas-content{
    display:flex;
    justify-content:space-between;
    margin-bottom: 50px;

}


.servicios{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(imagenes/Screenshot_2023-06-04-19-30-21-592_com.instagram.android-edit.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;    

    
}
.servicios-content{
    text-align: center;
}
.servicios-content h2 {
font-size: 55px;
line-height: 70px;
color:#f9fafc;
text-transform: uppercase;
margin-bottom: 15px;

}
.servicios-content p{
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
    
}
.grupo-servicios{
    display: flex;
    justify-content:space-between;
    margin-bottom: 50px;
}
.servicios-1{
    padding: 0 250px;
}
.servicios-1{
    width: 25%;
    margin-bottom: 15px;

}
.servicios-1 h3{
    color:#eaccb3;
    font-size: 18px;

}

.general{
    display:flex;
}
.general-1{
    width: 40%;
    padding: 100px 250px 100px 100px;
    background-color:#E1E2E6;
}
.general-2{
    background-image: url(imagenes/IMG_20230510_225641.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}
.general-3  {
    background-image: url(imagenes/IMG_20230630_184558.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

}

h2 {
    font-size: 55px;
    line-height: 70px;
    color:#323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}
p {
    font-size: 16px;
    color:#414247;
    margin: 25px 0 45px 0;
}
.blog{
    padding: 100px 0;
    text-align: center;
}
.blog-content {
    display: flex;
    justify-content: space-between;

}
.blog-1{
    padding: 15px 55px;
}
.blog-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;

}
.blog-1 h3{
    font-size: 25px;
    color:#323337
}
.footer{
    padding: 100px 0;
    background-color: #000000;

}
.footer-content{
    display: flex;
    justify-content: space-between;
}
link h3{
    font-size: 18px;